<HTML>
<HEAD>
<title>Collaboration</title></HEAD>
<BODY leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
<APPLET name="jeti" permissions="sandbox" archive="applet.jar,plugins/alertwindow.jar,plugins/emoticons.jar,plugins/groupchat.jar,plugins/sound.jar,plugins/xhtml.jar" CODE="nu.fw.jeti.applet.Jeti" WIDTH = 25% HEIGHT =  25%>
	<PARAM NAME=EXITPAGE VALUE="javascript:window.close();"> 
	<PARAM NAME=SERVER VALUE="server2" >
<PARAM NAME=HOST VALUE="192.168.1.10" >
<PARAM NAME=PORT VALUE=5222 >
<PARAM NAME=SSL VALUE=false > 
<PARAM NAME=USER VALUE="joe" >
<PARAM NAME=PASSWORD VALUE="pass" >
</APPLET>
</BODY>
</HTML>
