<HTML>
<HEAD>
<title>Jeti Applet</title></HEAD>
<BODY>
<APPLET name="jeti" archive="applet.jar,plugins/alertwindow.jar,plugins/emoticons.jar,plugins/groupchat.jar,plugins/appletloadgroupchat.jar,plugins/sound.jar,plugins/xhtml.jar" CODE="nu.fw.jeti.applet.Jeti.class" WIDTH = 100% HEIGHT = 100%>
	<PARAM NAME=SERVER VALUE=server2 > 
	<PARAM NAME=PORT VALUE=5222 > 
	<PARAM NAME=SSL VALUE=true >  (optional default = false)
	<PARAM NAME=GROUPCHATSERVER VALUE=chat.amessage.info > 
	<PARAM NAME=CHATTO VALUE=eric@buro > 
	<PARAM NAME=RESOURCE VALUE=JetiApplet > (optional) 
</APPLET>
</BODY>
</HTML>